<div class="row">
	<div class="col-md-12">
		<hr>
	</div>
	<div class="col-md-12">
		<strong>Service Job #{{ job.job_Id }}</strong>
		<hr>
	</div>

	<div class="col-md-6 text-left">
		<h3>Site</h3>
		<br>
		<p>Name: {{job.job_Site_Names}}</p>
	</div>

	<div class="col-md-6 text-right">
		<h3>Customer</h3>
		<br>
		<p>Name: {{job.job_Customer_Names}}</p>
	</div>
	
	<div class="col-md-12 text-center">
		<hr>
		<h3>Schedule</h3>
		<br>
		<p>Date: {{ job.job_Date }}</p>
		<p>Date: {{ job.job_Time }}</p>
	</div>
</div>



